*, *::after,*::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    background-color: #fcf8f3;
    padding-top: 5em;
}

/* //////////
LAYOUT
//////////*/

.task-tracker-outer-container{
    border: 2px black solid;
    width: 45%;
    margin: 0 auto;
    padding: 1em 2em;
    border-radius: 15px;
}

.input-header-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.filter-container{
    margin-left: 0.25em;
}

select {
    font-size: 1.2rem;
    padding: 0.25em 0.25em;
}

.input-field-container{
    width: 88%;
    display: flex;
}

.task-input-field{
    width: 100%;
    padding: 0.25em;
    font-size: 1.2rem;
    margin-right: 0.5em;
}

.add-task-btn{
    font-size: 1.2rem;
    background-color: #000;
    color: #fff;
    padding: 0.25em 0.5em;
}

.task-input-field,
.add-task-btn,
select{
    border-radius: 5px;
}

.task-item-label{
    position: relative;
    cursor: pointer;
    padding-left: 5px;
    width: 90%;
    display: flex;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

.checkbox-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px black solid;
    border-radius: 15%;
}

.fa-check{
    position: absolute;
    left: 2px;
    top: 1px;
    color: rgb(148, 148, 148);
}

/* .checkbox-container::after{
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
} */

.task-item-styling{
    display: flex;
    justify-content: space-between;
}

.fa-trash{
    margin-left: 1em;
    cursor: pointer;
}

.line-through {
    text-decoration: line-through;
    color: rgb(148, 148, 148);
}

.tick-mark {
    border: solid rgb(148, 148, 148);
}

li {
    margin-left: 1.25em;
    margin-right: 0.25em;
    list-style-type: none;
    word-break: break-all;
}

.heading-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2 {

    margin-right: 0.5em;
}

img{
    width: 44px;
    height: 44px;
}

/*//////////////////
MOBILE/TABLET SCREEN
///////////////////*/

@media (min-width:320px) and (max-width:970px){

    .task-tracker-outer-container{
        width: 90%;
    }

    .input-header-container,
    .input-field-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .filter-container,
    .add-task-btn{
        margin-top: 0.25em;
    }

    .filter-container{
        margin-left: 0;
    }

    .task-item-styling{
        display: flex;
        flex-direction: column;
    }


}