*, *::after,*::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    background-color: #fcf8f3;
    padding-top: 5em;

}

/* //////////
LAYOUT
//////////*/

.task-tracker-outer-container{
    border: 2px black solid;
    width: 40%;
    margin: 0 auto;
    padding: 1em 2em;
    border-radius: 15px;
}

.input-field-container{
    width: 100%;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
}

.task-input-field{
    width: 85%;
    padding: 0.25em;
    font-size: 1.2rem;
}

.add-task-btn{
    padding: 0.25em 0.5em;
    font-size: 1.2rem;
    background-color: #000;
    color: #fff;
}

.task-input-field,
.add-task-btn{
    border-radius: 5px;
}

.task-item-label{
    position: relative;
    cursor: pointer;
    padding-left: 5px;
    width: 90%;
    display: flex;
    /* overflow: auto; */
}

.checkbox-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px black solid;
    border-radius: 15%;
}

.checkbox-container::after{
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.task-item-styling{
    display: flex;
    justify-content: space-between;
}

.fa-trash{
    margin-left: 0.5em;
}

.line-through {
    text-decoration: line-through;
    color: rgb(148, 148, 148);
}

.text-span{
    margin-left: 1em;
}

/*//////////////////
MOBILE/TABLET SCREEN
///////////////////*/

@media (min-width:320px) and (max-width:970px){

    .task-tracker-outer-container{
        width: 90%;
    }

    .input-field-container{
        display: flex;
        flex-direction: column;
    }

    .task-input-field{
        width: 100%;
        margin-bottom: 0.25em;
    }

    .task-item-styling{
        display: flex;
        flex-direction: column;
    }

    .task-icons {
        margin-top: 1em;
        align-self: flex-end;
    }

}